groovy/groovy-scripts/src/SendCorrespondence3.4Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Satya Dash 
	(American Express) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com) -->
<xs:schema targetNamespace="http://www.americanexpress.com/schemas/emi"
	xmlns:emi="http://www.americanexpress.com/schemas/emi" xmlns="http://www.americanexpress.com/schemas/emi"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="qualified">
	<xs:element name="Envelope">
	
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="HeaderType" />
				<xs:element name="Body" type="BodyType" />
			</xs:sequence>
			<xs:attribute name="envelopeId" type="xs:string" fixed="EMI" />
			<xs:attribute name="majorVersion" type="xs:positiveInteger"
				fixed="1" />
			<xs:attribute name="minorVersion" type="xs:nonNegativeInteger"
				fixed="3" />
		</xs:complexType>
	</xs:element>
	<xs:complexType name="HeaderType">
		<xs:sequence>
			<xs:element name="TransactionBlk" type="TransactionBlkType" />
			<xs:element name="StateBlk" type="StateBlkType" minOccurs="0" />
			<xs:element name="RoutingBlk" type="RoutingBlkType"
				minOccurs="0" />
			<xs:element name="AccountingBlk" type="AccountingBlkType"
				minOccurs="0" />
			<xs:element name="LoggingBlk" type="LoggingBlkType"
				minOccurs="0" />
			<xs:element name="TraceBlk" type="TraceBlkType" minOccurs="0" />
			<xs:element name="SecurityBlk" type="SecurityBlkType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionBlkType">
		<xs:sequence>
			<xs:element ref="EncodingTypeCd" />
			<xs:element ref="CharacterSetCd" />
			<xs:element ref="MessageId" minOccurs="0" />
			<xs:element ref="CorrelationId" minOccurs="0" />
			<xs:element ref="OriginatorNm" />
			<xs:element ref="ServiceNm" />
			<xs:element ref="SrvcMajVersionNbr" />
			<xs:element ref="SrvcMinVersionNbr" />
			<xs:element ref="MsgPatternTypeCd" />
			<xs:element ref="MsgTypeCd" />
			<xs:element ref="MsgSrvcDomainNm" minOccurs="0" />
			<xs:element ref="MsgSetId" minOccurs="0" />
			<xs:element ref="MsgNm" />
			<xs:element ref="MsgFormatCd" minOccurs="0" />
			<xs:element ref="MsgMajVersionNbr" />
			<xs:element ref="MsgMinVersionNbr" />
			<xs:element ref="MsgPersistenceTypeCd" minOccurs="0" />
			<xs:element ref="MsgPriorityNbr" minOccurs="0" />
			<xs:element ref="MsgExpireTimeQty" minOccurs="0" />
			<xs:element ref="MsgPutDt" />
			<xs:element ref="MsgPutTime" />
			<xs:element ref="MsgSLATimeQty" minOccurs="0" />
			<xs:element ref="SrvcResponseTimeQty" minOccurs="0" />
			<xs:element ref="ProcessControlId" minOccurs="0" />
			<xs:element ref="SLAMode" minOccurs="0" />
			<xs:element ref="ReportOptionCd" minOccurs="0" />
			<xs:element ref="MQMsgTypeCd" minOccurs="0" />
			<xs:element ref="ReplyToQNm" minOccurs="0" />
			<xs:element ref="ReplyToQMgrNm" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" fixed="StdTransBlk" />
		<xs:attribute name="majorVersion" type="xs:positiveInteger"
			fixed="1" />
		<xs:attribute name="minorVersion" type="xs:nonNegativeInteger"
			fixed="2" />
		<xs:attribute name="actor" type="xs:string" fixed="Next" />
		<xs:attribute name="mustUnderstand" type="xs:string"
			fixed="1" />
	</xs:complexType>
	<xs:element name="EncodingTypeCd" type="xs:string" default="UTF-8" />
	<xs:element name="CharacterSetCd" type="xs:string" default="UTF-8" />
	<xs:element name="MessageId" type="xs:string" />
	<xs:element name="CorrelationId" type="xs:string" />
	<xs:element name="OriginatorNm" type="xs:string" />
	<xs:element name="ServiceNm" type="xs:string" default="SendCorrespondence" />
	<xs:element name="SrvcMajVersionNbr" type="xs:positiveInteger"
		default="3" />
	<xs:element name="SrvcMinVersionNbr" type="xs:nonNegativeInteger"
		default="3" />
	<xs:element name="MsgPatternTypeCd" type="msgPatternType"
		default="RR" />
	<xs:simpleType name="msgPatternType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PS" />
			<xs:enumeration value="FF" />
			<xs:enumeration value="RR" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="MsgTypeCd" type="msgType" />
	<xs:simpleType name="msgType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="I" />
			<xs:enumeration value="O" />
			<xs:enumeration value="E" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="MsgSrvcDomainNm" type="xs:string" fixed="MRM" />
	<xs:element name="MsgSetId" type="xs:string" />
	<xs:element name="MsgNm" type="xs:string" />
	<xs:element name="MsgFormatCd" type="xs:string" fixed="XML" />
	<xs:element name="MsgMajVersionNbr" type="xs:positiveInteger"
		default="3" />
	<xs:element name="MsgMinVersionNbr" type="xs:nonNegativeInteger"
		default="1" />
	<xs:element name="MsgPersistenceTypeCd" type="persistenceType" />
	<xs:simpleType name="persistenceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="P" />
			<xs:enumeration value="N" />
			<xs:enumeration value="Q" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="MsgPriorityNbr" type="priorityType" />
	<xs:simpleType name="priorityType">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:nonNegativeInteger">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="9" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Q" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:element name="MsgExpireTimeQty" type="msgExpiryType" />
	<xs:simpleType name="msgExpiryType">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:nonNegativeInteger">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="999999999" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="U" />
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:element name="MsgPutDt" type="xs:date" />
	<xs:element name="MsgPutTime" type="xs:time" />
	<xs:element name="MsgSLATimeQty" type="xs:positiveInteger" />
	<xs:element name="SrvcResponseTimeQty" type="xs:positiveInteger" />
	<xs:element name="ProcessControlId" type="xs:string" />
	<xs:element name="SLAMode" type="slaModeType" />
	<xs:element name="ReportOptionCd" type="xs:string" />
	<xs:element name="MQMsgTypeCd" type="xs:string" />
	<xs:element name="ReplyToQMgrNm" type="xs:string" />
	<xs:element name="ReplyToQNm" type="xs:string" />
	<xs:simpleType name="slaModeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BATCH" />
			<xs:enumeration value="REALTIME" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="StateBlkType">
		<xs:sequence>
			<xs:element name="StateGrp" type="StateGrpType" minOccurs="0"
				maxOccurs="2" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" fixed="StdStateBlk" />
		<xs:attribute name="majorVersion" type="xs:positiveInteger"
			fixed="1" />
		<xs:attribute name="minorVersion" type="xs:nonNegativeInteger"
			fixed="2" />
		<xs:attribute name="actor" type="xs:string" fixed="Next" />
		<xs:attribute name="mustUnderstand" type="xs:string"
			fixed="1" />
	</xs:complexType>
	<xs:complexType name="StateGrpType">
		<xs:sequence>
			<xs:element ref="ProcessControlId" minOccurs="0" />
			<xs:element ref="OriginatorNm" />
			<xs:element ref="ServiceNm" />
			<xs:element ref="SrvcMajVersionNbr" minOccurs="0" />
			<xs:element ref="SrvcMinVersionNbr" minOccurs="0" />
			<xs:element ref="MessageId" />
			<xs:element ref="CorrelationId" minOccurs="0" />
			<xs:element ref="ReturnMsgSeqNbr" minOccurs="0" />
			<xs:element ref="ReturnMsgCnt" minOccurs="0" />
			<xs:element ref="ReturnMsgId" minOccurs="0" />
			<xs:element ref="MsgPersistenceTypeCd" />
			<xs:element ref="MsgExpireTimeQty" />
			<xs:element ref="MsgPutDt" minOccurs="0" />
			<xs:element ref="MsgPutTime" />
			<xs:element ref="MsgSLATimeQty" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ReturnMsgSeqNbr" type="xs:positiveInteger" />
	<xs:element name="ReturnMsgCnt" type="xs:positiveInteger" />
	<xs:element name="ReturnMsgId" type="xs:string" />
	<xs:complexType name="RoutingBlkType">
		<xs:sequence>
			<xs:element ref="RoutingDirectionCd" />
			<xs:element name="RoutingHopGrp" type="RoutingHopGrpType"
				maxOccurs="3" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" fixed="StdRouteBlk" />
		<xs:attribute name="majorVersion" type="xs:positiveInteger"
			fixed="2" />
		<xs:attribute name="minorVersion" type="xs:nonNegativeInteger"
			fixed="0" />
		<xs:attribute name="actor" type="xs:string" fixed="Next" />
		<xs:attribute name="mustUnderstand" type="xs:string"
			fixed="1" />
	</xs:complexType>
	<xs:element name="RoutingDirectionCd" type="routingDirectionType" />
	<xs:simpleType name="routingDirectionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="F" />
			<xs:enumeration value="R" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RoutingHopGrpType">
		<xs:sequence>
			<xs:element ref="HopSequenceNbr" />
			<xs:element ref="ProcessingQMgrNm" />
			<xs:element ref="ReplyToQMgrNm" minOccurs="0" />
			<xs:element ref="ReplyToQNm" minOccurs="0" />
			<xs:element ref="HubTs" minOccurs="0" />
			<xs:element ref="SrvcResponseTimeQty" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="HopSequenceNbr" type="xs:positiveInteger" />
	<xs:element name="ProcessingQMgrNm" type="xs:string" />
	<xs:element name="HubTs" type="xs:dateTime" />
	<xs:element name="MsgPutTs" type="xs:dateTime" />
	<xs:complexType name="AccountingBlkType">
		<xs:sequence>
			<xs:element ref="DebitUnitNbr" />
			<xs:element ref="CreditUnitNbr" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" fixed="StdAcctgBlk" />
		<xs:attribute name="majorVersion" type="xs:positiveInteger"
			fixed="1" />
		<xs:attribute name="minorVersion" type="xs:nonNegativeInteger"
			fixed="0" />
		<xs:attribute name="actor" type="xs:string" fixed=" " />
		<xs:attribute name="mustUnderstand" type="xs:string"
			fixed="1" />
	</xs:complexType>
	<xs:element name="DebitUnitNbr" type="xs:string" />
	<xs:element name="CreditUnitNbr" type="xs:string" />
	<xs:complexType name="LoggingBlkType">
		<xs:sequence>
			<xs:element ref="SrvcRequesterProcessId" />
			<xs:element ref="LoggingLevelCd" />
			<xs:element ref="SrvcStatusCd" />
			<xs:element ref="SrvcBusObjId" />
			<xs:element ref="SrvcBusObjTypeCd" />
			<xs:element ref="SrvcContextCd" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" fixed="StdLogBlk" />
		<xs:attribute name="majorVersion" type="xs:positiveInteger"
			fixed="1" />
		<xs:attribute name="minorVersion" type="xs:nonNegativeInteger"
			fixed="1" />
		<xs:attribute name="actor" type="xs:string" fixed="Next" />
		<xs:attribute name="mustUnderstand" type="xs:string"
			fixed="1" />
	</xs:complexType>
	<xs:element name="SrvcRequesterProcessId" type="xs:string" />
	<xs:element name="LoggingLevelCd" type="LoggingLevelType" />
	<xs:simpleType name="LoggingLevelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AllPoints" />
			<xs:enumeration value="EMIEdges" />
			<xs:enumeration value="SrvcProviderResult" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="SrvcStatusCd" type="xs:string" />
	<xs:element name="SrvcBusObjId" type="xs:string" />
	<xs:element name="SrvcBusObjTypeCd" type="xs:string" />
	<xs:element name="SrvcContextCd" type="xs:string" />
	<xs:complexType name="TraceBlkType">
		<xs:sequence>
			<xs:element ref="DataInd" />
			<xs:element ref="FaultInd" />
			<xs:element ref="PerformanceInd" />
			<xs:element ref="RoutingInd" />
			<xs:element ref="MaxHopsCnt" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" fixed="StdTraceBlk" />
		<xs:attribute name="majorVersion" type="xs:positiveInteger"
			fixed="1" />
		<xs:attribute name="minorVersion" type="xs:nonNegativeInteger"
			fixed="0" />
		<xs:attribute name="actor" type="xs:string" fixed="Next" />
		<xs:attribute name="mustUnderstand" type="xs:string"
			fixed="1" />
	</xs:complexType>
	<xs:element name="DataInd" type="indicator" />
	<xs:simpleType name="indicator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N" />
			<xs:enumeration value="Y" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="FaultInd" type="indicator" />
	<xs:element name="PerformanceInd" type="indicator" />
	<xs:element name="RoutingInd" type="indicator" />
	<xs:element name="MaxHopsCnt" type="maxHopsType" />
	<xs:simpleType name="maxHopsType">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="99" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SecurityBlkType">
		<xs:choice>
			<xs:element name="HTTPInfoBlk" type="HTTPInfoBlkType" />
			<xs:element name="SAMLBlk" type="SAMLBlkType" />
		</xs:choice>
		<xs:attribute name="name" type="xs:string" fixed="StdSecurityBlk" />
		<xs:attribute name="majorVersion" type="xs:positiveInteger"
			fixed="1" />
		<xs:attribute name="minorVersion" type="xs:nonNegativeInteger"
			fixed="1" />
		<xs:attribute name="actor" type="xs:string" fixed="Next" />
		<xs:attribute name="mustUnderstand" type="xs:string"
			fixed="1" />
	</xs:complexType>
	<xs:complexType name="HTTPInfoBlkType">
		<xs:sequence>
			<xs:element ref="DomainId" />
			<xs:element ref="RealmId" />
			<xs:element ref="SessionId" />
			<xs:element ref="GUID" />
			<xs:element ref="TokenCreationTs" />
			<xs:element ref="TokenExpirationTs" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SAMLBlkType">
		<xs:sequence>
			<xs:element name="Assertion" type="AssertionType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DomainId" type="xs:string" />
	<xs:element name="RealmId" type="xs:string" />
	<xs:element name="SessionId" type="xs:string" />
	<xs:element name="GUID" type="xs:string" />
	<xs:element name="TokenCreationTs" type="xs:dateTime" />
	<xs:element name="TokenExpirationTs" type="xs:dateTime" />
	<xs:complexType name="AssertionType">
		<xs:sequence>
			<xs:element name="Conditions" type="ConditionsType"
				minOccurs="0" />
			<xs:element name="Advice" type="AdviceType" minOccurs="0" />
			<xs:choice maxOccurs="unbounded">
				<xs:element name="AuthenticationStatement" type="AuthenticationStatementType" />
				<xs:element name="AuthorizationDecisionStatement" type="AuthorizationDecisionStatementType" />
				<xs:element name="AttributeStatement" type="AttributeStatementType" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="MajorVersion" type="xs:positiveInteger"
			use="required" />
		<xs:attribute name="MinorVersion" type="xs:nonNegativeInteger"
			use="required" />
		<xs:attribute name="AssertionID" type="xs:string" use="required" />
		<xs:attribute name="Issuer" type="xs:string" use="required" />
		<xs:attribute name="IssueInstant" type="xs:dateTime" use="required" />
	</xs:complexType>
	<xs:complexType name="ConditionsType">
		<xs:sequence>
			<xs:element name="AudienceRestrictionCondition" type="AudienceRestrictionConditionType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="NotBefore" type="xs:dateTime" />
		<xs:attribute name="NotOnOrAfter" type="xs:dateTime" />
	</xs:complexType>
	<xs:complexType name="AudienceRestrictionConditionType">
		<xs:sequence>
			<xs:element ref="Audience" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Audience" type="xs:string" />
	<xs:complexType name="AdviceType">
		<xs:sequence>
			<xs:element ref="AssertionIDReference" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AssertionIDReference" type="xs:string" />
	<xs:complexType name="AuthenticationStatementType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Subject" type="SubjectType" />
			</xs:choice>
			<xs:sequence>
				<xs:element name="SubjectLocality" type="SubjectLocalityType"
					minOccurs="0" />
				<xs:element name="AuthorityBinding" type="AuthorityBindingType"
					minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="AuthenticationMethod" type="xs:string"
			use="required" />
		<xs:attribute name="AuthenticationInstant" type="xs:dateTime"
			use="required" />
	</xs:complexType>
	<xs:complexType name="SubjectType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="NameIdentifier" type="NameIdentifierType" />
				<xs:element name="SubjectConfirmation" type="SubjectConfirmationType"
					minOccurs="0" />
			</xs:sequence>
			<xs:element name="SubjectConfirmation" type="SubjectConfirmationType" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="NameIdentifierType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="NameQualifier" type="xs:string" />
				<xs:attribute name="Format" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SubjectConfirmationType">
		<xs:sequence>
			<xs:element ref="ConfirmationMethod" maxOccurs="unbounded" />
			<xs:element ref="SubjectConfirmationData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ConfirmationMethod" type="xs:string" />
	<xs:element name="SubjectConfirmationData" type="xs:string" />
	<xs:complexType name="SubjectLocalityType">
		<xs:attribute name="IPAddress" type="xs:string" />
		<xs:attribute name="DNSAddress" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="AuthorityBindingType">
		<xs:attribute name="AuthorityKind" type="xs:string" use="required" />
		<xs:attribute name="Location" type="xs:string" use="required" />
		<xs:attribute name="Binding" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="AuthorizationDecisionStatementType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Subject" type="SubjectType" />
			</xs:choice>
			<xs:sequence>
				<xs:element name="Action" type="ActionType" maxOccurs="unbounded" />
				<xs:element name="Evidence" type="EvidenceType"
					minOccurs="0" />
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="Resource" type="xs:string" use="required" />
		<xs:attribute name="Decision" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Permit" />
					<xs:enumeration value="Deny" />
					<xs:enumeration value="Indeterminate" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ActionType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Namespace" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EvidenceType">
		<xs:sequence>
			<xs:element ref="AssertionIDReference" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeStatementType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Subject" type="SubjectType" />
			</xs:choice>
			<xs:choice>
				<xs:element name="Attribute" type="AttributeType"
					maxOccurs="unbounded" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeType">
		<xs:sequence>
			<xs:element ref="AttributeValue" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="AttributeName" type="xs:string" use="required" />
		<xs:attribute name="AttributeNamespace" type="xs:string"
			use="required" />
	</xs:complexType>
	<xs:element name="AttributeValue" type="xs:string" />
	<xs:complexType name="BodyType">
		<xs:choice>
			<xs:element name="Request" type="RequestType" minOccurs="1" />
			<xs:element name="Response" type="ResponseType" />
			<!-- <xs:sequence> <xs:element name="Request" type="RequestType"/> <xs:element 
				name="Response" type="ResponseType"/> </xs:sequence> -->
		</xs:choice>
	</xs:complexType>
	<xs:element name="RtrnCd" type="xs:string" />
	<xs:complexType name="RequestType">
		<xs:sequence>
			<xs:element ref="ServAuthInfo" minOccurs="0" />
			<xs:element ref="EchoBackInd" minOccurs="0" />
			<xs:element ref="PurgeInd" />
			<xs:element ref="TimetoDeliver" />
			<xs:element ref="MsgSrvcQueueCd" />
			<xs:choice>
				<xs:element ref="ReqCommunActInfo" maxOccurs="unbounded" />
				<xs:element ref="ReqBtchBal" />
			</xs:choice>
			<xs:element name="IndexBlk" type="IndexBlkType" minOccurs="0"
				maxOccurs="1" />
			<xs:element ref="TrackingInfoBlk" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IndexBlkType">
		<xs:sequence>
			<xs:element name="IndexDesc" type="IndexDescType"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="notEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:pattern value=".*[^\s].*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IndexDescType">
		<xs:simpleContent>
			<xs:extension base="notEmptyString">
				<xs:attribute name="IxNm" type="PermissibleIndex" use="required" />
				<xs:attribute name="IxType" type="Cardinality" use="optional" />
				<xs:attribute name="IxPos" type="IxPosType" use="optional">
					<xs:annotation>
						<xs:documentation>If </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="Cardinality">
		<xs:restriction base="xs:int">
			<xs:pattern value="[012]"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IxPosType">
		<xs:restriction base="xs:int">
			<xs:pattern value="[0-9]"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PermissibleIndex">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IdxPcnNbr" />
			<xs:enumeration value="IdxCompanyName" />
			<xs:enumeration value="IdxCmNbr" />
			<xs:enumeration value="IdxMerchantNbr" />
			<xs:enumeration value="IdxRcptAddr" />
			<xs:enumeration value="IdxCapNbr" />
			<xs:enumeration value="IdxRcptName" />
			<xs:enumeration value="IdxMatterNbr" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="TrackingInfoBlk" type="TrackingInfoBlkType" />

	<xs:complexType name="TrackingInfoBlkType">
		<xs:sequence>
			<xs:element name="TrackingId" type="xs:string" minOccurs="0" />
			<xs:element name="RequestingSystem" type="xs:string" minOccurs="0" />
			<xs:element name="FeederSysId" type="xs:string" minOccurs="1" />
			<xs:element name="LegalEntity" type="xs:string" minOccurs="1" />
			<xs:element name="CustomerName" type="xs:string" minOccurs="0" />
			<xs:element name="AccountDetails" type="AccountDetailsType" minOccurs="0" />
			<xs:element name="DeliveryMechanism" type="DeliveryMechanismType" minOccurs="0" />
			<xs:element name="RequestOriginalDate" type="xs:dateTime" minOccurs="0" />

			<xs:element name="CCPId" type="xs:string" minOccurs="0" />
			<xs:element name="CCPLocation" type="xs:string" minOccurs="0" />

			<xs:element name="ShellId" type="xs:string" minOccurs="0" />
			<xs:element name="CaseNumber" type="xs:string" minOccurs="0" />

			<xs:element name="MarketId" type="xs:string" minOccurs="0" />

			<xs:element name="ProductCode" type="xs:string" minOccurs="0" />
			<xs:element name="ReferenceNumber" type="xs:string" minOccurs="0" />

			<xs:element name="TemplateId" type="xs:string" minOccurs="0" />
			<xs:element name="BusinessProcess" type="xs:string" minOccurs="0" />
			<xs:element name="BusinessUnit" type="xs:string" minOccurs="0" />
			<xs:element name="ComplianceCategory" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>



	<xs:simpleType name="DeliveryMechanismType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EMAIL" />
			<xs:enumeration value="E_LETTER" />
			<xs:enumeration value="SECURE_MAIL" />
			<xs:enumeration value="PAPER" />
		</xs:restriction>
	</xs:simpleType>


	<xs:complexType name="AccountDetailsType">
		<xs:sequence>
			<xs:element name="AccountIdentifier" type="xs:string" />
			<xs:element name="AccountIdentifierType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CREDIT_CARD_ID" />
						<xs:enumeration value="SERVICE_ESTABLISHMENT_ID" />
						<xs:enumeration value="PREPAID_CARD_ID" />
						<xs:enumeration value="PROSPECT_ID" />
						<xs:enumeration value="ADDRESS_ID" />
						<xs:enumeration value="GUID" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseType">
		<xs:sequence>
			<xs:element ref="MsgSrvcQueueCd" minOccurs="0" />
			<xs:choice>
				<xs:element ref="RespCommunInfo" maxOccurs="unbounded" />
				<xs:element ref="ReqBtchBal" />
			</xs:choice>
			<xs:element ref="TrackingInfoResponseBlk" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RtrnMsgId" type="xs:string" />
	<xs:element name="RtrnMsgTypeCd" type="xs:string" />
	<xs:element name="RtrnMsgTxt" type="xs:string" />
	<xs:element name="ServAuthInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserId" />
				<xs:element ref="UserPswdTxt" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="TrackingInfoResponseBlk" type="TrackingInfoResponseBlkType" />
	<xs:complexType name="TrackingInfoResponseBlkType">
		<xs:sequence>
			<xs:element name="FeederSysId" type="xs:string" />
			<xs:element name="TrackingId" type="xs:string" minOccurs="0" />
			<xs:element name="TemplateId" type="xs:string" minOccurs="0" />
			<xs:element name="ComplianceCategory" type="xs:string"
				minOccurs="0" />
			<xs:element ref="MsgSrvcQueueCd" minOccurs="0" />
			<xs:element ref="RtrnCd" minOccurs="0" />
			<xs:element ref="RtrnMsgInfo" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>


	<xs:element name="MsgSrvcQueueCd" type="xs:string" />
	<xs:element name="ReqCommunActInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReqCommunActTypeCd" />
				<xs:element ref="TransSpecInfo" minOccurs="0" />
				<xs:element ref="CommunSpecInfo" />
				<xs:element ref="AddrInfo" minOccurs="0" />
				<xs:element ref="AttchDocInfo" minOccurs="0" />
				<xs:element ref="ParmInfo" minOccurs="0" />
				<xs:element ref="ParmGrpInfo" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReqCommunActTypeCd" type="xs:string" />
	<xs:element name="ReqCommunId" type="xs:string" />
	<xs:element name="TransSpecInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserTypeDesc" />
				<xs:element ref="UserEditAcssInd" />
				<xs:element ref="UserDistrAcssInd" />
				<xs:element ref="CommunTransId" />
				<xs:element ref="CommunUtilRespURLTxt" />
				<xs:element ref="DspoTypeCd" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserDistrAcssInd" type="xs:string" />
	<xs:element name="UserEditAcssInd" type="xs:string" />
	<xs:element name="UserId" type="xs:string" />
	<xs:element name="UserPswdTxt" type="xs:string" />
	<xs:element name="UserTypeDesc" type="xs:string" />
	<xs:element name="ReqBtchBal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReqCommunActTypeCd" />
				<xs:element ref="CommunReqSystemId" />
				<xs:element ref="ReqBtchNbr" />
				<xs:element ref="ReqBtchDt" minOccurs="0" />
				<xs:element ref="ReqBtchCnt" />
				<xs:element ref="ReqBtchAcptCnt" minOccurs="0" />
				<xs:element ref="ReqBtchRejctCnt" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReqBtchCnt" type="xs:string" />
	<xs:element name="ReqBtchDt" type="xs:string" />
	<xs:element name="ReqBtchNbr" type="xs:string" />
	<xs:element name="ReqBtchRejctCnt" type="xs:string" />
	<xs:element name="AddrInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommunRcpntAddr" maxOccurs="unbounded" />
				<xs:element ref="CommunRtrnAddr" minOccurs="0" />
				<xs:element ref="CommunAddrInfo" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttchDoc">
		<xs:complexType>
			<xs:attribute name="ImgId" type="xs:string" use="required" />
			<xs:attribute name="ItemIdxNbr" type="xs:string" use="optional" />
			<xs:attribute name="BusAreaNm" type="xs:string" use="optional" />
			<xs:attribute name="ItemSlctInd" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Y" />
						<xs:enumeration value="N" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AttchDocInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AttchDoc" maxOccurs="unbounded" />
				<xs:element name="AttachmentText" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommunAddrInfo">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CommunAddrInfoType">
					<xs:choice>
						<xs:sequence>
							<xs:element ref="CommunRcpntCoNm" minOccurs="0" />
							<xs:element ref="CommunRcpntPersNm" maxOccurs="unbounded" />
							<xs:element ref="CommunRcpntAddrLineTxt" maxOccurs="unbounded" />
							<xs:element ref="CommunRcpntAddrCityNm" />
							<xs:element ref="CommunRcpntAddrStateCd" />
							<xs:element ref="CommunRcpntAddrCtryCd" minOccurs="0" />
							<xs:element ref="CommunRcpntAddrPostCd" />
							<xs:element ref="CommunRcpntEmailAddrTxt" minOccurs="0" />
							<xs:element ref="CommunRcpntGUId" minOccurs="0" />
							<xs:element ref="RcpntRespEmailAddrTxt" minOccurs="0" />
							<xs:element ref="CommunRcpntFaxNbr" minOccurs="0" />
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="CommunRcpntCoNm" minOccurs="0" />
							<xs:element ref="CommunRcpntPersNm" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element ref="CommunRcpntAddrLineTxt" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element ref="CommunRcpntAddrCityNm" minOccurs="0" />
							<xs:element ref="CommunRcpntAddrStateCd" minOccurs="0" />
							<xs:element ref="CommunRcpntAddrPostCd" minOccurs="0" />
							<xs:element ref="CommunRcpntAddrCtryCd" minOccurs="0" />
							<xs:element ref="CommunRcpntEmailAddrTxt" />
							<xs:element ref="CommunRcpntFaxNbr" minOccurs="0" />
							<xs:element ref="CommunRcpntGUId" minOccurs="0" />
							<xs:element ref="RcpntRespEmailAddrTxt" minOccurs="0" />
						</xs:sequence>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommunDestLocCd" type="xs:string" />
	<xs:element name="CommunLangDesc" type="xs:string" />
	<xs:element name="CommunMthdOfDlvrCd" type="xs:string" />
	<xs:element name="CommunOptnParaList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommunOptnParaInfo" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommunProdId" type="xs:string" />
	<xs:element name="CommunRcpnt1stNm" type="xs:string" />
	<xs:element name="CommunRcpntAddr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommunAddrInfo" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommunRcpntAddrCityNm" type="xs:string" />
	<xs:element name="CommunRcpntAddrCtryCd" type="xs:string" />
	<xs:element name="CommunRcpntAddrLineTxt" type="xs:string" />
	<xs:element name="CommunRcpntAddrPostCd" type="xs:string" />
	<xs:element name="CommunRcpntAddrStateCd" type="xs:string" />
	<xs:element name="CommunRcpntCoNm" type="xs:string" />
	<xs:element name="CommunRcpntEmailAddrTxt" type="xs:string" />
	<xs:element name="CommunRcpntFaxNbr" type="xs:string" />
	<xs:element name="CommunRcpntFullNm" type="xs:string" />
	<xs:element name="CommunRcpntGUId" type="xs:string" />
	<xs:element name="CommunRcpntLstNm" type="xs:string" />
	<xs:element name="CommunRcpntMidNm" type="xs:string" />
	<xs:element name="CommunRcpntPersNm">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="CommunRcpntPfxNm" minOccurs="0" />
					<xs:element ref="CommunRcpnt1stNm" />
					<xs:element ref="CommunRcpntMidNm" minOccurs="0" />
					<xs:element ref="CommunRcpntLstNm" />
					<xs:element ref="CommunRcpntSuffNm" minOccurs="0" />
				</xs:sequence>
				<xs:element ref="CommunRcpntFullNm" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommunRcpntPfxNm" type="xs:string" />
	<xs:element name="CommunRcpntSuffNm" type="xs:string" />
	<xs:element name="CommunReqDt" type="xs:string" />
	<xs:element name="CommunReqSystemId" type="xs:string" />
	<xs:element name="CommunRtrnAddr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommunAddrInfo" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommunDocId" type="xs:string" />
	<xs:element name="CommunRtrvId" type="xs:string" />
	<xs:element name="CommunSpecInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommunReqSystemId" />
				<xs:element ref="ReqBtchNbr" minOccurs="0" />
				<xs:element ref="ReqCommunId" />
				<xs:element ref="CommunProdId" minOccurs="0" />
				<xs:element ref="CommunDestLocCd" />
				<xs:element ref="CommunReqDt" />
				<xs:element ref="CommunLangDesc" />
				<xs:element ref="CommunMedCd" />
				<xs:element ref="CommunUtilJurisdictionCd" minOccurs="0" />
				<xs:element ref="CommunRtrvId" />
				<xs:element ref="CommunMthdOfDlvrCd" minOccurs="0" />
				<xs:element ref="CommunOptnParaList" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommunTransId" type="xs:string" />
	<xs:element name="CommunUtilJurisdictionCd" type="xs:string" />
	<xs:element name="CommunUtilRespURLTxt" type="xs:string" />
	<xs:element name="CommunMatchImgId" type="xs:string" />
	<xs:element name="DspoTypeCd" type="xs:string" />
	<xs:element name="ParmInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ParmDesc" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParmDesc">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ParmNm" type="xs:string" use="required" />
					<xs:attribute name="ParmValTxt" type="xs:string" use="required" />
					<xs:attribute name="ParmFmtTxt" type="xs:string" use="optional" />
					<xs:attribute name="ParmTypeCd" type="xs:string" use="optional" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ParmDescType">
		<xs:attribute name="ParmNm" type="xs:string" use="required" />
		<xs:attribute name="ParmValTxt" type="xs:string" use="required" />
		<xs:attribute name="ParmFmtTxt" type="xs:string" use="optional" />
		<xs:attribute name="ParmDataType" type="xs:string" use="optional" />
	</xs:complexType>
	<xs:element name="ParmGrpInfo" type="ParmGrpInfoType" />
	<xs:complexType name="ParmGrpInfoType">
		<xs:sequence>
			<xs:element ref="ParmGrpDesc" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ParmGrpDesc" type="ParmGrpDescType" />
	<xs:complexType name="ParmGrpDescType">
		<xs:sequence>
			<xs:element ref="ParmDesc" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="ParmGrpNm" type="xs:string" use="required" />
		<xs:attribute name="ParmGrpValTxt" type="xs:string" use="required" />
		<xs:attribute name="PrentParmGrpNm" type="xs:string" use="optional" />
		<xs:attribute name="PrentParmGrpValTxt" type="xs:string"
			use="optional" />
		<xs:attribute name="ParmTypeCd" type="xs:string" use="optional" />
	</xs:complexType>
	<xs:element name="RcpntRespEmailAddrTxt" type="xs:string" />
	<xs:element name="ReqBtchAcptCnt" type="xs:string" />
	<xs:element name="CommunSlctParaNm" type="xs:string" />
	<xs:element name="CommunSlctParaId" type="xs:string" />
	<xs:element name="CommunParaSlctModeCd" type="xs:string" />
	<xs:element name="CommunOptnParaGrpId" type="xs:string" />
	<xs:element name="RtrnMsgInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RtrnMsgId" />
				<xs:element ref="RtrnMsgTypeCd" minOccurs="0" />
				<xs:element ref="RtrnMsgTxt" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommunTmpltInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommunTransId" minOccurs="0" />
				<xs:element ref="ReqBtchNbr" minOccurs="0" />
				<xs:element ref="CommunDocId" />
				<xs:element ref="CommunMthdOfDlvrCd" minOccurs="0" />
				<xs:element ref="CommunOptnParaInfo" minOccurs="0" />
				<xs:element ref="CommunMatchImgId" minOccurs="0" />
				<xs:element ref="ParmInfo" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServExecStatusInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RtrnCd" />
				<xs:element ref="RtrnMsgInfo" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommunOptnParaGrp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommunOptnParaGrpId" />
				<xs:element ref="CommunParaSlctModeCd" />
				<xs:element ref="CommunOptnPara" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommunOptnPara">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommunSlctParaId" />
				<xs:element ref="CommunSlctParaNm" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommunOptnParaInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommunOptnParaGrp" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RespCommunInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommunTmpltInfo" minOccurs="0" />
				<xs:element ref="ServExecStatusInfo" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommunMedCd" />
	<xs:complexType name="CommunAddrInfoType">
		<xs:attribute name="CommunAddrTypeCd" type="xs:string"
			use="optional" />
	</xs:complexType>
	<xs:element name="EchoBackInd" type="xs:string" />
	<xs:element name="PurgeInd" type="xs:string" />
	<xs:element name="TimetoDeliver" type="xs:string" />
</xs:schema>
